<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ADBKing" Language="1033" Version="1.0.1.0" Manufacturer="ADBKing" UpgradeCode="PUT-UPGRADE-CODE-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="icon.ico" SourceFile="icon-windows.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Minimal" />
    <Feature Id="ProductFeature" Title="ADBKing" Level="1"><ComponentGroupRef Id="ProductComponents"/></Feature>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder"><Directory Id="INSTALLFOLDER" Name="ADBKing"/></Directory>
      <Directory Id="ProgramMenuFolder"><Directory Id="ApplicationProgramsFolder" Name="ADBKing"/></Directory>
    </Directory>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="PUT-EXE-GUID">
        <File Id="imgui_app.exe" Name="imgui_app.exe" Source="build/Release/imgui_app.exe" KeyPath="yes"/>
      </Component>
      <Component Id="StartMenuShortcut" Guid="PUT-SHORTCUT-GUID">
        <Shortcut Id="StartMenuShortcut" Directory="ApplicationProgramsFolder" Name="ADBKing"
          Description="ADBKing" Target="[INSTALLFOLDER]imgui_app.exe" WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico" IconIndex="0"/>
        <RemoveFolder Id="RemoveShortcutDir" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\ADBKing" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="ProductComponents">
              <ComponentRef Id="MainExecutable"/><ComponentRef Id="StartMenuShortcut"/>
    </ComponentGroup>
  </Product>
</Wix>
